@mixin animate($duration) {
  transition-duration: $duration;
  -o-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
}

@mixin not-selectable() {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
