$font-size-base: 20px;
$black: rgba(black, 1);
$link-color: $black;

$brand-primary: #eae0d7;

$space: 40px;
$space-large: $space * 2;
$space-medium: $space / 2;
$space-small: $space / 4;
$space-mini: $space / 8;
$space-tiny: $space / 16;

$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts";


// input
$input-border-focus: #000;

// border
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
