$font-size-base: 20px;
$black: rgba(black, 0.8);
$link-color: $black;

$space: 40px;
$space-large: $space * 2;
$space-medium: $space / 2;
$space-small: $space / 4;
$space-mini: $space / 8;
$space-tiny: $space / 16;

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap";
//@import url("http://fonts.googleapis.com/css?family=Lato:400,700");


html, body {
  font-family: 'head stories', sans-serif;
  color: $black;
  height: 100%;
  text-align: center;
  width: 100%;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

hr {
  border-color: black;
  max-width: 560px;
}

.selectable {
  -webkit-user-select: text;  /* Chrome all / Safari all */
  -moz-user-select: text;     /* Firefox all */
  -ms-user-select: text;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: text;
  user-select: text;
}


.page {
  display: table;
  height: 100%;
  width: 100%;
}

.welcome {
  @include transition(1s opacity);

  display: table-cell;
  opacity: 1;
  vertical-align: middle;
  width: 100%;

  &.faded {
    opacity: 0;
  }

  .item {
    display: none;
    font-size: 50px;
    text-align: center;
    width: 100%;
  }

  .item.active {
    display: block;
    margin: auto;
  }

  .item-final {
    @include transition(1.2s opacity);

    display: block;
    opacity: 0;
    position: absolute;
  }
  .item-final.active-final {
    @include transition(1.2s opacity);

    margin: auto;
    opacity: 1;
    position: relative;
  }
}

.head-stories-logo {
  margin-left: 42px;
  max-width: 300px;
}




.hero {
  font-size: 29px;

  .head-stories-logo {
    margin-top: -$space;
    margin-bottom: $space-large + $space;
  }

  span, a {
    margin-left: $space-medium;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    cursor: pointer;
  }
}







.footer {
  @extend .clearfix;
  @include transition(1s opacity);

  bottom: 0;
  font-size: 13px;
  font-weight: bold;
  left: 0;
  position: fixed;
  opacity: 1;
  right: 0;

  &.faded {
    opacity: 0;
  }

  a, span {
    display: inline-block;
    padding: $space-small $space-medium;
  }
}

.adress {
  float: left;
}
.imprint-link {
  float: right;
}
