# Domainumleitung mit http und ohne www
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.headstories\.de [NC]
RewriteRule (.*) http://headstories.de/$1 [R=301,L]

# Interne 301 Weiterleitungen Alt zu Neu
RedirectPermanent /de/index.html http://headstories.de/index.html
RedirectPermanent /en/index.html http://headstories.de/index.html
RedirectPermanent /impressum.html http://headstories.de/de/impressum.html
RedirectPermanent /en/lookbook.html http://headstories.de/de/lookbook.html
RedirectPermanent /en/contact.html http://headstories.de/de/kontakt.html
RedirectPermanent /en/services.html http://headstories.de/de/leistungen.html
RedirectPermanent /en/about-us/location.html http://headstories.de/de/ueber-uns/location.html
RedirectPermanent /en/about-us/quality.html http://headstories.de/de/ueber-uns/qualitaet.html
RedirectPermanent /en/about-us/anne-stietzel.html http://headstories.de/de/ueber-uns/anne-mann.html
RedirectPermanent /en/about-us/our-story.html http://headstories.de/de/ueber-uns/unsere-geschichte.html
