RewriteEngine on
RewriteCond %{HTTP_HOST} ^\.headstories\.de [NC]
RewriteRule (.*) https://www.headstories.de/$1 [R=301,L]
RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

RewriteRule /de/index.html https://www.headstories.de/index.html
RewriteRule /en/index.html https://www.headstories.de/index.html
RewriteRule /impressum.html https://www.headstories.de/de/impressum.html
RewriteRule /en/lookbook.html https://www.headstories.de/de/lookbook.html
RewriteRule /en/contact.html https://www.headstories.de/de/kontakt.html
RewriteRule /en/services.html https://www.headstories.de/de/leistungen.html
RewriteRule /en/about-us/location.html https://www.headstories.de/de/ueber-uns/location.html
RewriteRule /en/about-us/quality.html https://www.headstories.de/de/ueber-uns/qualitaet.html
RewriteRule /en/about-us/anne-stietzel.html https://www.headstories.de/de/ueber-uns/anne-mann.html
RewriteRule /en/about-us/our-story.html https://www.headstories.de/de/ueber-uns/unsere-geschichte.html
RewriteRule /de/leistungen.html https://www.headstories.de/de/leistungen.html
RewriteRule /de/lookbook.html https://www.headstories.de/de/lookbook.html
RewriteRule /de/kontakt.html https://www.headstories.de/de/kontakt.html
RewriteRule /de/impressum.html https://www.headstories.de/de/impressum.html
RewriteRule /de/kontakt.html https://www.headstories.de/de/kontakt.html
RewriteRule /de/ueber-uns.html https://www.headstories.de/de/ueber-uns.html
RewriteRule /de/ueber-uns/unsere-geschichte.html https://www.headstories.de/de/ueber-uns/unsere-geschichte.html
RewriteRule /de/ueber-uns/location.html https://www.headstories.de/de/ueber-uns/location.html
RewriteRule /de/ueber-uns/qualitaet.html https://www.headstories.de/de/ueber-uns/qualitaet.html
RewriteRule /de/ueber-uns/anne-mann.html https://www.headstories.de/de/ueber-uns/anne-mann.html
