<ul class="nav navbar-nav">
  <li><a href="/de/ueber-uns.html">Über uns</a></li>
  <li><a href="/de/lookbook.html">Lookbook</a></li>
  <li><a href="/de/leistungen.html">Leistungen</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="/de/kontakt.html">Kontakt</a></li>
</ul>
