.aside-box {
  border-bottom: 2px solid $black;
  padding: $space-medium;

  &:last-child {
    border-bottom: none;
  }
}


.subnavigation {
  ul {
    line-height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
