.header {
  margin-bottom: $space;
}

.header-wrapper {
}

.logo-wrapper {
  display: block;
  text-align: center;

  a {
    display: block;
    padding: $space;
    margin-left: 65px;

    @media (max-width: $screen-xs-max) {
      img {
        max-width: 180px;
        margin: 0;
      }
    }
  }
}
