.page {
  margin-top: $space;
  margin-bottom: $space;

  .page-wrapper {
    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}


.page-row {
  @extend .row;
}
.page-content {
  @include make-sm-column(9);

  > h1:first-child {
    margin-top: $space-small;
  }

  img {
    max-width: 100%;
  }
}
.page-aside {
  @include make-sm-column(3);
}
