<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="LVY7rX1B9rLPhrtuC0s55Bh1HeHFlg1T0wIh5jfNR3w" />

    <link rel="shortcut icon" href="/favicon.png">

    <!--   that's me!   -->
    <title>{{title}} - head stories</title>
    <!-- <link rel="shortcut icon" href="/favicon.png"> -->

    <meta property="fb:admins" content="100001448282593"/>
    <meta property="fb:admins" content="100001426361532"/>

    <meta property="og:url" content="http://www.headstories.de/">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="head stories &amp; OTHER MATTERS">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="http://www.headstories.de/dist/img/facebook-sharing-image.jpg">
    <meta property="og:description" content="description">
    <meta property="og:site_name" content="head stories &amp; OTHER MATTERS">

    <!--   meta tags   -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--   include css   -->
    <link rel="stylesheet" type="text/css" media="screen" href="/dist/css/headstories.css">

    <script src="/dist/js/headstories.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
