<div class="meta-navigation">
  <div id="language-switch" class="language-switch">
    <a class="en" data-language="en" href="/en/index.html">en</a>
    <a class="de" data-language="de" href="/de/index.html">de</a>
  </div>
</div>
