{{> _head}}

<body class="{{body_class}}" data-language="{{locale}}">
  {{> _header}}
  
  <div class="page">
    <div class="container">
      <div class="page-wrapper">
        {{{body}}}
      </div>
    </div>
  </div>

  {{> _footer}}
</body>
