<div class="aside-box">
  <nav class="subnavigation">
    <ul>
      <li>
        <a href="/de/ueber-uns/unsere-geschichte.html">
          <span class="hidden-sm">Unsere Geschichte</span>
          <span class="visible-sm">Geschichte</span>
        </a>
      </li>
      <li>
        <a href="/de/ueber-uns/location.html">Location</a>
      </li>
      <li>
        <a href="/de/ueber-uns/anne-stietzel.html">Anne Stietzel</a>
      </li>
      <li>
        <a href="/de/ueber-uns/qualitaet.html">Qualität</a>
      </li>
      <li class="hidden">
        <a href="/de/ueber-uns/jobs.html">Jobs</a>
      </li>
    </ul>
  </nav>
</div>

<h1 class="page-title">
  {{title}}
</h1>
