<div class="aside-box">
  <nav class="subnavigation">
    <ul>
      <li>
        <a href="/en/about-us/the-story.html">The Story</a>
      </li>
      <li>
        <a href="/en/about-us/location.html">Location</a>
      </li>
      <li>
        <a href="/en/about-us/anne-stietzel.html">Anne Stietzel</a>
      </li>
      <li>
        <a href="/en/about-us/quality.html">Quality</a>
      </li>
      <li class="hidden">
        <a href="/de/ueber-uns/jobs.html">Jobs</a>
      </li>
    </ul>
  </nav>
</div>

<div class="aside-box">
  nav
</div>
